<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
  </head>

  <header>
    <h1>AlphaBet {{user}}</h1>
    <aside>
      {% if session['logged_in'] %}
        <p>Vous êtes connectés !</p>
        <form action="/logout">
          <input type="submit" value="Se deconnecter" />
        </form>
			{% else %}  
        {% for message in get_flashed_messages() %}
          <div class=flash>{{ message }}</div>
        {% endfor %}
        <form action="/login" method="post">
          <label>Identifiant
            <input name="username" />
          </label>
          <label>Mot de passe
            <input type="password" name="password" />
          </label>
          <input type="submit" value="Se connecter" />
        </form>
        {% endif %}
    </aside>
  </header>
    
  <main>
     {% if session['logged_in'] %}
    <nav>
      <form method="get">
        <label>Journée
          <select name="matchday">
          {% for i in range(1, numberofmatchdays+1) %}
            {% if i == currentmatchday %}
              <option value="{{ i }}" selected>Journée {{ i }} </option>
            {% else %}
              <option value="{{ i }}">Journée {{ i }}</option> 
            {% endif %}
          {% endfor %}
          </select>
        </label>
        <label>Utilisateur
          <select name="username">
          {% for user in users %}
            {% if user[0] == request.form['username']  %}
              <option value="{{ user[0] }}" selected>{{ user[0] }}</option>  
            {% else %}
              <option value="{{ user[0] }}">{{ user[0] }}</option> 
            {% endif %}
          {% endfor %}
          </select>
        </label>
        <input type="submit" value="Envoyer">
      </form>
    </nav>
    <h2>Journée {{matchdaynumber}} de la {{competitions}}</h2>
    {% for fixture_data in fixtures_datas %}
        {% if fixture_data["matchday"] == matchdaynumber %}
    <h3>{{fixture_data["date"]}}</h3>
    <h4>{{fixture_data["homeTeamName"]}} - {{fixture_data["awayTeamName"]}}</h4>
    <dl>
      <dt>Heure</dt>
      <dd>{{fixture_data["date"]}}</dd>
      <dt>Score</dt>
      <dd>{{fixture_data["result"]["goalsHomeTeam"]}} - {{fixture_data["result"]["goalsAwayTeam"]}}</dd>
    </dl>
           {% if (urlusername == session['user']) and (fixture_data["status"] == 'TIMED' or 'SCHEDULED') %}
    <form action="" method="post">
      <label>
        <input type="radio" name="result" value="home" />
        Domicile
      </label>
      <label>
        <input type="radio" name="result" value="draw" />
        Nul
      </label>
      <label>
        <input type="radio" name="result" value="away" />
        Extérieur
      </label>
      <input type="submit" value="Envoyer">
    </form>
            {% else %}
                     
      {% endif %}              
     {% endif %}
    {% endfor %}
    {% endif %}
  </main>
</html>
