<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
  </head>

  <header>
    <h1>AlphaBet</h1>
    <aside>
      <form action="" method="post">
        <label>Identifiant
          <input name="username" />
        </label>
        <label>Mot de passe
          <input type="password" name="password" />
        </label>
        <input type="submit" value="Se connecter" />
      </form>
    </aside>
  </header>
    
  <main>
    <nav>
      <form action="" method="post">
        <label>Journée
          <select name="matchday">
            <option value="1">Journée 1</option>
            <option value="2">Journée 2</option>
            <option value="3">Journée 3</option>
            <option value="4">Journée 4</option>
          </select>
        </label>
        <label>Utilisateur
          <select name="username">
            <option value="1">Utilisateur 1</option>
            <option value="2">Utilisateur 2</option>
            <option value="3">Utilisateur 3</option>
            <option value="4">Utilisateur 4</option>
          </select>
        </label>
        <input type="submit" value="Envoyer">
      </form>
    </nav>
    <h2>Journée {{currentmatchday}} de la {{competitions}}</h2>
    {% for fixture_data in fixtures_datas %}
    <h3>{{fixture_data["date"]}}</h3>
    <h4>{{fixture_data["homeTeamName"]}}</h4>
    <dl>
      <dt>Heure</dt>
      <dd>{{fixture_data["date"]}}</dd>
      <dt>Score</dt>
      <dd>{{fixture_data["result"]["goalsHomeTeam"]}} - {{fixture_data["result"]["goalsAwayTeam"]}}</dd>
    </dl>
    {% endfor %}
    <form action="" method="post">
      <label>
        <input type="radio" name="result" value="home" />
        Domicile
      </label>
      <label>
        <input type="radio" name="result" value="draw" />
        Nul
      </label>
      <label>
        <input type="radio" name="result" value="away" />
        Extérieur
      </label>
      <input type="submit" value="Envoyer">
    </form>
  </main>
</html>
