<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
  </head>

  <header>
    <h1>AlphaBet</h1>
    <aside>
      {% if session['logged_in'] %}
      <p>You're logged in already !</p>
			{% else %}
      <form action="/login" method="post">
        <label>Identifiant
          <input name="username" />
        </label>
        <label>Mot de passe
          <input type="password" name="password" />
        </label>
        <input type="submit" value="Se connecter" />
      </form>
      {% endif %}
    </aside>
  </header>
    
  <main>
    <nav>
      <form action="" method="post">
        <label>Journée
          <select name="matchday">
            <option value="1">Journée 1</option>
            <option value="2">Journée 2</option>
            <option value="3">Journée 3</option>
            <option value="4">Journée 4</option>
          </select>
        </label>
        <label>Utilisateur
          <select name="username">
            <option value="1">Utilisateur 1</option>
            <option value="2">Utilisateur 2</option>
            <option value="3">Utilisateur 3</option>
            <option value="4">Utilisateur 4</option>
          </select>
        </label>
        <input type="submit" value="Envoyer">
      </form>
    </nav>

    <h2>Journée 1 de la Ligue 1 de 2016-2017</h2>
    <h3>Samedi 15 Avril 2017</h3>
    <h4>Lyon - Nice</h4>
    <dl>
      <dt>Heure</dt>
      <dd>20h45</dd>
      <dt>Score</dt>
      <dd>6 - 1</dd>
    </dl>
    <form action="" method="post">
      <label>
        <input type="radio" name="result" value="home" />
        Domicile
      </label>
      <label>
        <input type="radio" name="result" value="draw" />
        Nul
      </label>
      <label>
        <input type="radio" name="result" value="away" />
        Extérieur
      </label>
      <input type="submit" value="Envoyer">
    </form>
  </main>
</html>
